html, body {
    margin: 0;
    padding: 0;
    background-image: url(./images/background.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: calc(100vh - 60px);
    padding-bottom: 60px;
    text-align: center;
}

.draggable {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 50%;
    cursor: grab;
    transition: margin 0.3s ease;
}

.draggable img{
    max-width: 50%;
    max-height: 50%;
    border: 5px solid whitesmoke;
    margin-bottom: 20px;
}

.drop-container {
    margin: 0 auto;
    display: flex;
    width: 90%;
    gap: 20px;
}

.drop-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 12rem;
    height: 12rem;
    background-color: #445fa5;
    border-radius: 12px;
    border: 2px solid #2c3f2e;
    overflow: hidden;
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(169, 168, 168, 0.5), 0 6px 20px 0 rgba(198, 184, 184, 0.19);
}

.drop-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
}

.drop-box.hoverEffect{
    border: 2px dashed whitesmoke;
}

.gameType {
    text-align: center;
    margin-top: 10px;
    color: #fff;
    font-size: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#welcome-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(images/welcomeLogo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1000;
    opacity: 1;
    transition: opacity 0.5s ease-out;
}

#welcome-popup h1 {
    color: gold;
    font-size: 5em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}


.hidden {
    opacity: 0;
    visibility: hidden;
}

.descContainer {
    display: none; /* Hide descriptions by default */
    position: absolute;
    bottom: 20px;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7); 
    box-sizing: border-box;
}
.description{
    color: white;
    margin: 0 auto;
    width: 80%;
    padding: 10px;
    text-align: justify;
}
.boxwrap:hover .descContainer{
    display: block;
}

footer {
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(174, 79, 242, 0.7); 
    border-top: 1px solid #ddd; 
    text-align: center;
}

footer ul {
    list-style: none;
    padding: 0;
}

footer ul li {
    margin: 5px 0;
}

footer ul li a {
    text-decoration: none;
    color: #333;
}

.drop-box.with-space {
    margin-top: 30vh;
}

@media (max-width: 1600px) {
    html, body {
        margin: 0;
        padding: 0;
        background-color: #445fa5;
        background-image: none;
        box-sizing: border-box;
        height: 100vh;
    }
    .container {
        padding-bottom: 80px; 
    }

    .draggable {
        width: 80%;
    }

    .draggable img {
        max-width: 50%;
        max-height: 50%;
    }

    .drop-container {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .drop-box {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        background-color: #445fa5;
        border-radius: 12px;
        border: 2px solid #2c3f2e;
        overflow: hidden;
        position: relative;
        box-shadow: 0 4px 8px 0 rgba(169, 168, 168, 0.5), 0 6px 20px 0 rgba(198, 184, 184, 0.19);
    }

    .drop-box img {
        width: 100%;
        height: 100%;
        position: absolute;
    }

    .gameType {
        font-size: 16px;
    }

    .descContainer {
        display: none;
        position: absolute;
        bottom: 20px;
        left: 0;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.7); 
        box-sizing: border-box;
    }
    .description{
        display: none;
    }
    .drop-box.with-space {
        margin-top: 0; 
    }

    #welcome-popup {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url(images/welcomeLogo.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        z-index: 1000;
        opacity: 1;
        transition: opacity 0.5s ease-out;
    }
    
    #welcome-popup h1 {
        color: gold;
        font-size: 3em;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    }
}

@media (max-width: 992px) {
    html, body {
        margin: 0;
        padding: 0;
        background-color: #445fa5;
        background-image: none;
        box-sizing: border-box;
        height: 100vh;
    }
    .container {
        padding-bottom: 80px; 
    }

    .draggable {
        width: 80%;
    }

    .draggable img {
        max-width: 30%;
        max-height: 30%;
    }

    .drop-container {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .drop-box {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        background-color: #445fa5;
        border-radius: 12px;
        border: 2px solid #2c3f2e;
        overflow: hidden;
        position: relative;
        box-shadow: 0 4px 8px 0 rgba(169, 168, 168, 0.5), 0 6px 20px 0 rgba(198, 184, 184, 0.19);
    }

    .drop-box img {
        width: 100%;
        height: 100%;
        position: absolute;
    }

    .gameType {
        font-size: 16px;
    }

    .descContainer {
        display: none;
        position: absolute;
        bottom: 20px;
        left: 0;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.7); 
        box-sizing: border-box;
    }
    .description{
        display: none;
    }
    .drop-box.with-space {
        margin-top: 0; /* Adjust as needed */
    }

    #welcome-popup {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url(images/welcomeLogo.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        z-index: 1000;
        opacity: 1;
        transition: opacity 0.5s ease-out;
    }
    
    #welcome-popup h1 {
        color: gold;
        font-size: 3em;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    }
}

@media (max-width: 768px) {
    html, body {
        margin: 0;
        padding: 0;
        background-color: #445fa5;
        background-image: none;
        box-sizing: border-box;
        height: 100vh;
    }
    
    .container {
        padding-bottom: 80px; 
    }

    .draggable {
        width: 80%;
    }

    .draggable img {
        max-width: 50%;
        max-height: 50%;
    }

    .drop-container {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .drop-box {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        background-color: #445fa5;
        border-radius: 12px;
        border: 2px solid #2c3f2e;
        overflow: hidden;
        position: relative;
        box-shadow: 0 4px 8px 0 rgba(169, 168, 168, 0.5), 0 6px 20px 0 rgba(198, 184, 184, 0.19);
    }

    .drop-box img {
        width: 100%;
        height: 100%;
        position: absolute;
    }

    .gameType {
        font-size: 16px;
    }

    .descContainer {
        display: none;
        position: absolute;
        bottom: 20px;
        left: 0;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.7); 
        box-sizing: border-box;
    }
    .description{
        display: none;
    }
    .drop-box.with-space {
        margin-top: 0;
    }

    #welcome-popup {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url(images/welcomeLogo.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        z-index: 1000;
        opacity: 1;
        transition: opacity 0.5s ease-out;
    }
    
    #welcome-popup h1 {
        color: gold;
        font-size: 2em;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    }
}